<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <!-- <h1>Users</h1>
    {{ if .Active}}
    <p>Active user</p>
    {{ else }}
    <p>Active no user</p>
    {{ end }}

    {{ if (and .Active .Admin)}}
    <p>Admin</p>
    {{ end }} -->

   <!-- <h3>Hi {{ .Username }}</h3>
   <p>Age: {{ .Age }}</p> -->

   <!-- {{ with $val := "Hi variable"}}
   <p>{{ $val }}</p>
   {{ end }} -->

   <!-- logic
    not !
    and &&
    or ||

   -->

   <!-- condition
    eq ==
    ne !=
    lt < 
    le <=
    gt >
    ge >=
   -->

   <!-- {{ if gt .Age 32 }}
   <p>User has more than 32 years</p>
   {{ end }}

   <h2>Courses</h2>
   <ul>
    {{ range .Courses }}
    <li>{{ .Name }}</li>
    {{ end }}
   </ul> -->

  
</body>
</html>